services:
  # Rails アプリケーション
  web:
    build:
      context: .
      dockerfile: Dockerfile.development
    container_name: cocosumo_web
    command: bash -c "rm -f tmp/pids/server.pid && bin/rails server -b 0.0.0.0 -p 3000"
    volumes:
      - .:/rails
      - bundle_cache:/usr/local/bundle
      - node_modules:/rails/node_modules
    ports:
      - "3000:3000"
      - "5173:5173"
    environment:
      - RAILS_ENV=development
      - VITE_RUBY_HOST=0.0.0.0
    env_file:
      - .env
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
  node_modules:
